docker-compose.yml
/pgdata
node_modules
package-lock.json
/build
interfaces
*.graphql
/src/generated
.env
keycloak.json
src/helpers/archives
src/generated

poc
ERD-Notation.png
note.txt
graphql.schema.json
src/libs/providers/helpers/security
frontend